@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-lg-start">
    <h5 class="display-4" style="font-size: 24px"><b>Главная страница Weather Observer.</b></h5>
    <p>Приложение предназначено для загрузки <i>.xlsx</i> файлов с определенным шаблоном для просмотра архива погодных наблюдений за промежутки времени.</p>
    <p>Названия загружаемых файлов должны соответствовать следующему шаблону:</p>
    <p><b>moscow_ГГГГ</b></p>
</div>

<div class="text-end" style="margin-top: 30px">
        <p>Приложение разработал Бураков И.А.</p>
</div>